.react_player {
  width: 100%;
  height: 70vh;
}
@media only screen and (max-width: 1800px) {
  .react_player {
    height: 65vh;
  }
}
@media only screen and (max-width: 1600px) {
  .react_player {
    height: 70vh;
  }
}
@media only screen and (max-width: 1025px) {
  .react_player {
    height: 35vh;
  }
}
@media only screen and (max-width: 993px) {
  .react_player {
    height: 35vh;
  }
}
@media only screen and (max-width: 903px) {
  .react_player {
    height: 53vh;
  }
}
@media only screen and (max-width: 769px) {
  .react_player {
    height: 45vh;
  }
}
@media only screen and (max-width: 700px) {
  .react_player {
    height: 55vh;
  }
}
@media only screen and (max-width: 630px) {
  .react_player {
    height: 50vh;
  }
}
@media only screen and (max-width: 580px) {
  .react_player {
    height: 45vh;
  }
}
@media only screen and (max-width: 420px) {
  .react_player {
    height: 33vh;
  }
}

/* ----------------RESOURCES------------------- */

.lesson_resources {
  padding: 30px 25px;
}

.lesson_resources .nav-link {
  text-decoration: none;
  color: #373a409a;
  font-weight: 600;
}

.lesson_resources .tab-content {
  padding: 30px 50px;
}

.lesson_resources_questions {
  margin: 10px 0;
  /* background-color: rgba(0, 128, 128, 0.151); */
  border-radius: 3px;
  padding: 5px 10px;
}

.lesson_resources_picture .fas-icon {
  font-size: 21px;
  color: #373a4065;
  text-align: center;
  margin-top: 10px;
}

.answered .lesson_resources_picture .fas-icon {
  color: #ec6565cb;
}

.lesson_resources_picture img {
  display: block;
  margin: auto;
  height: 45px;
  max-width: 45px;
  border-radius: 50%;
}

.lesson_resources_question_title {
  font-weight: 700;
  margin-bottom: 5px;
  color: #373a40;
}

.lesson_resources_question_body {
  color: #373a40f1;
}

.lesson_resources_details {
  font-size: 14px;
}

@media only screen and (max-width: 575px) {
  .lesson_resources {
    padding: 30px 10px;
  }

  .lesson_resources .nav-link {
    text-decoration: none;
    color: #373a409a;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 10px;
  }

  .lesson_resources .tab-content {
    padding: 30px 15px 60px;
  }
}
