.yoga_classes {
  margin: 3rem 0 8rem;
  padding: 0 1.5%;
}

.yoga_classes .card {
  padding: 20px;
  border-radius: 0;
  position: relative;
  min-height: 75vh;
  height: 100%;
  color: #373a40;
  transition: all 1s ease;
}

.yoga_classes .card:hover {
  box-shadow: 0 0 15px 0px #373a4060;
  clip-path: inset(0px -20px 0px -20px);

  padding: 10px;
  min-height: 77vh;
  color: black;
  border-left: solid 1.5px #373a4060;
  border-right: solid 1.5px #373a4060;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 1;
}

@media only screen and (max-width: 575px) {
  .yoga_classes {
    padding: 2% 0;
  }
  .yoga_classes .card {
    background-color: rgba(255, 255, 255, 0.65);
    padding: 20px 0;
  }
  .yoga_classes .card:hover {
    padding: 60px 0;
    border-left: none;
    border-right: none;
  }
  .yoga_classes .live_classes {
    border-top: solid 1.5px #373a409a;
    border-bottom: solid 1.5px #373a409a;
  }

  .yoga_classes .complete_course {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://media.giphy.com/media/H3SYd8rWzFXQrAWLNc/giphy.gif');
  }

  .yoga_classes .live_classes {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://media.giphy.com/media/3oKIPavRPgJYaNI97W/giphy.gif');
  }

  .yoga_classes .master_classes {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://media.giphy.com/media/dyoW56xY2r6z1ARtT6/giphy.gif');
    box-shadow: 0px 5px 10px 0px rgb(55, 58, 64, 0.25);
  }
}

.yoga_classes .complete_course:hover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://media.giphy.com/media/H3SYd8rWzFXQrAWLNc/giphy.gif');
}

.yoga_classes .live_classes:hover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://media.giphy.com/media/3oKIPavRPgJYaNI97W/giphy.gif');
}

.yoga_classes .master_classes:hover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://media.giphy.com/media/dyoW56xY2r6z1ARtT6/giphy.gif');
}

.yoga_classes .card-title {
  text-align: center;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  letter-spacing: 7px;
  line-height: 32px;
}

.yoga_classes .card-text-1 {
  margin-top: 30px;
  text-align: center;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 32px;
}

.yoga_classes .card-text-span {
  border-bottom: solid 1.2px #373a40d8;
}

.yoga_classes .card-text-2 {
  font-size: 17px;
  text-align: center;
  position: absolute;
  bottom: 60px;
  right: 0;
  padding: 0px 20px;
  width: 100%;
}

@media only screen and (max-width: 1025px) {
  .yoga_classes .card-text-2 {
    height: 100px;
  }
}
@media only screen and (max-width: 769px) {
  .yoga_classes .card-text-2 {
    height: 120px;
  }
}
@media only screen and (max-width: 576px) {
  .yoga_classes .card-text-2 {
    height: auto;
  }
}
